html {
	scroll-behavior: smooth;
}
body {
	background-image: url('./images/newspaper_bg.jpeg');
}
.page {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.card {
	padding: 1rem;
	box-shadow: 2px 2px 2px lightblue;
}
#profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
#profile {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 1rem;
}
#profile > * {
	align-items: baseline;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.pagination {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.preview {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	box-shadow: 2px 2px 2px lightcoral;
}
.preview:hover {
	background-color: lightblue;
}
.preview .card-title {
	width: 90%;
}
.preview .card-body {
	padding: 0.5rem;
	width: 90%;
}
.bookmark {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
.details {
	color: coral;
}
.loading-spinner {
	margin-top: 0.5rem;
}
.loading-spinner .card-body {
	display: flex;
	align-items: center;
}
.loading-spinner .card-body > * {
	margin-left: 1rem;
	margin-right: 1rem;
}
a {
	color: black;
}
a:hover {
	text-decoration: none;
}
